<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/frontend/assets/global/global.css">
    <link rel="stylesheet" href="./style.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

    <title>ERP Fácil - nome da tela</title>
</head>
<body>
    <div class="container">
        <div class="menu-lateral"></div>
        <main>
            <h1>Titulo</h1>
        </main>
    </div>    

    <script src="/frontend/assets/global/global.js"></script>
    <script src="/frontend/components/sidebar/sidebar.js"></script>
    <script src="./script.js"></script>
</body>
</html>