body {
  background-color: #f9f9f9;
  display: flex;
  min-height: 100vh;
}

h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 10px;
}

.top-bar input {
  padding: 10px;
  width: 60%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.top-bar button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.top-bar button:hover {
  background-color: #0056b3;
}

/* Layout produtos */
.layout-produtos {
  display: flex;
  justify-content: space-between;
}

.tabela-container {
  flex: 1;
  margin-right: 20px;
}

.tabela-produtos {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.tabela-produtos th,
.tabela-produtos td {
  padding: 15px;
  text-align: left;
  font-size: 0.9rem;
  text-align: center;
}

.tabela-produtos th {
  background-color: #f4f4f4;
  color: #333;
}

.tabela-produtos td {
  background-color: #fff;
  color: #333;
}

.tabela-produtos tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabela-produtos tr:hover {
  background-color: #f1f1f1;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.pagination-btn {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-btn:hover {
  background-color: #007bff;
  color: white;
}

.produto-detalhes {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produto-detalhes h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.imagem-detalhe {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

#produto-info {
  font-size: 1rem;
  color: #666;
}

#produto-info p {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .layout-produtos {
    flex-direction: column;
  }

  .tabela-container {
    margin-right: 0;
  }
}